/* .landing {
  height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
}

.landing-card {
  width: 420px;
  padding: 40px;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  color: white;
}

.title {
  margin-bottom: 6px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 25px;
}

.avatar-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.avatar-row img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #334155;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.create-btn {
  background: linear-gradient(90deg,#2563eb,#7c3aed);
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

.join-btn {
  background: linear-gradient(90deg,#2563eb,#7c3aed);
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.input {
  width: 93%;
  padding: 15px;
  margin-top: 12px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
  font-size: 14px;
}

.avatar-preview {
  margin: 20px 0;
}

.avatar-preview img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #334155;
}

.back-btn{
  margin-top:10px;
  background:#111827;
  color:white;
  border:none;
  margin-left: 50px;
  padding:14px;
  border-radius:8px;
  background: #2563eb;
} */
